$fontFamily: Arial, Helvetica, sans-serif;

$color: #aeda3e;

$buttonActiveColor: #a7d42a;

$grayColor: rgb(204, 204, 204);

$lightColor: #CBEB80;

$inputShadow: rgba(25, 161, 219, 0.247059) 0px 0px 5px 0px;

$msgBgColor: rgb(180, 228, 252);