$fontFamily: Arial, Helvetica, sans-serif;

$color: rgb(174, 218, 62);

$buttonActiveColor: rgb(167, 212, 42);

$grayColor: rgb(204, 204, 204);

$lightColor: rgb(203, 235, 128);

$inputShadow: rgba(178, 221, 76, 0.298039) 0px 0px 5px 0px;

$msgBgColor: rgb(214, 233, 167);
